---
import HeaderLink from './HeaderLink.astro';
import {Card, Typo, Link} from "@koibumi-design/solidjs";
import {GLOBAL_STYLE, SITE_TITLE} from '../consts';
---

<Card class="head-container" variant={GLOBAL_STYLE}>
    <header>
        <nav>
            <Typo variant="h1">
                <Link href="/" id="title">
                    {SITE_TITLE}
                </Link>
            </Typo>
            <div class="internal-links">
                <HeaderLink href="/">Home</HeaderLink>
                <HeaderLink href="/blog">Blog</HeaderLink>
                <HeaderLink href="https://github.com/koibumi-design/astro-blog">GitHub</HeaderLink>
            </div>
        </nav>
    </header>
</Card>


<head>
    <style>
        .head-container {
            display: flex; /* 新增：设置为 Flex 容器 */
            flex-direction: row; /* 新增：使标题和导航栏水平排列 */
            justify-content: space-between; /* 新增：使标题和导航栏在水平方向上均匀分布 */
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }

        #title {
            text-decoration: none;
        }

        #title:hover {
            text-decoration: underline;
        }

        nav {
            padding: 0 0.5rem;
            display: flex;
            align-items: center;
            max-width: 90rem;
            margin: 0 auto;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .internal-links {
            height: 100%;
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    </style>
</head>
