---
import HeaderLink from './HeaderLink.astro';
import '../styles/_header.scss';
import {Card, Typo, Link} from "@koibumi-design/solidjs";
import {GLOBAL_STYLE, SITE_TITLE} from '../consts';
import Navigation from "./Navigation.astro";
import NaviC from "./NaviC.astro";
---
<div class="mobile-header">
<Card class="head-container" variant={GLOBAL_STYLE}>
	<header>
		<nav>
			<Typo variant="h1">
				<Link href="/" id="title">
					{SITE_TITLE}
				</Link>
			</Typo>
			<NaviC/>
		</nav>
	</header>
</Card>
</div>
<style>
	.mobile-header {
		display: none;
	.head-container {
		border-top-right-radius: 0;
		border-top-left-radius: 0;

		nav {
			padding: 0 0.5rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			max-width: 90rem;
			margin: 0 auto;
			flex-wrap: wrap;
			gap: 1rem;

			#title {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.internal-links {
			height: 100%;
			display: flex;
			align-items: center;
			gap: .5rem;
		}


	}
		@media (max-width: 677px) {
			display: block;
		}
	}
</style>