---
import HeaderLink from './HeaderLink.astro';
import { Card, Typo, Link } from '@koibumi-design/solidjs';
import { GLOBAL_STYLE, SITE_TITLE } from '../consts';
import Navigation from "./Navigation.astro";
import '../styles/LeftHeader.scss';
---

<!-- 在博客页面中，将 header 包裹在一个具有 `blog-page-header` 类的容器内 -->
<div class="blog-page-header">
    <Card class="head-container" variant={GLOBAL_STYLE}>
        <header>
            <nav class="header-nav">
                <div class="header-left">
                    <Typo variant="h1">
                        <Link href="/" id="title">
                            {SITE_TITLE}
                        </Link>
                    </Typo>
                </div>
                <div class="header-right">
                    <Navigation/>
                </div>
            </nav>
        </header>
    </Card>
</div>
