---
import HeaderLink from './HeaderLink.astro';
import { Card, Typo, Link } from '@koibumi-design/solidjs';
import { GLOBAL_STYLE, SITE_TITLE } from '../consts';
import Navigation from "./Navigation.astro";
import '../styles/LeftHeader.scss';
---

<!-- 在博客页面中，将 header 包裹在一个具有 `blog-page-header` 类的容器内 -->
<div class="desktop-header">
    <Card class="head-container" variant={GLOBAL_STYLE}>
        <header>
            <nav class="header-nav">
                <div class="header-left">
                    <Typo variant="h1">
                        <Link href="/" id="title">
                            {SITE_TITLE}
                        </Link>
                    </Typo>
                </div>
                <div class="header-right">
                    <Navigation/>
                </div>
            </nav>
        </header>
    </Card>
</div>

<style>
    .desktop-header {
        display: none;
        position: fixed;
        top: 1rem;
        left: 1rem;
        width: 10%;
        height: 100vh;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0);
        z-index: 300;

        .head-container {
            border-top-right-radius: 0;
            border-top-left-radius: 0;

            nav {
                padding: 0 0.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 90rem;
                margin: 0 auto;
                flex-wrap: wrap;
                gap: 1rem;

                #title {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .internal-links {
                height: 100%;
                display: flex;
                align-items: center;
                gap: .5rem;
            }
        }

        .header-nav {
            padding: 0.9rem 0.7rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (min-width: 768px) {
                border-width: 2px 0;
            }

            h1, a {
                font-size: 1rem;

                @media (min-width: 768px) {
                    font-size: 1.2rem;
                }
            }

            #title {
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @media (min-width: 678px) {
            display: block;
        }
    }

</style>