---
import HeaderLink from "./HeaderLink.astro";
---
<div class="internal-links">
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="https://github.com/NagatoCute/KoAstro">GitHub</HeaderLink>
</div>

<style>
    .internal-links {
        margin-top: 2rem;
        display: flex;
        flex-direction: column; /* 更改为垂直方向排列 */
        gap: 2.5rem; /* 设置按钮之间的垂直间距 */
    }
</style>